.stats {
	padding: 1rem 1rem 6rem 1rem;
	background-color: var(--light-bg);
}

.heading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 2rem;
	margin-bottom: 2rem;
}

.heading h2 {
	color: var(--dark-color);
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.heading p {
	color: var(--primary-color);
	font-size: 18px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.stat {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}

.stat img {
	background-color: var(--purple-bg);
	padding: 15px;
	border-radius: 50%;
	transform: translateY(-50px);
}

.stat h3 {
	color: var(--dark-color);
	margin-bottom: 20px;
	font-size: 22px;
}

.stat p {
	color: hsl(257, 7%, 63%);
	line-height: 1.6;
}

.stat:nth-child(2) {
	transform: translateY(20px);
}

.stat:nth-child(3) {
	transform: translateY(40px);
}

.boost {
	background: url('../images/bg-boost-desktop.svg') no-repeat center center/cover;
	background-color: var(--purple-bg);
	padding: 1rem;
	height: 200px;
	text-align: center;
	display: table-footer-group;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.boost h2 {
	color: #fff;
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.boost-btn {
	background-color: var(--accent-color);
	padding: 10px 30px;
	font-weight: 700;
	color: #fff;
	border-radius: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
}

.boost-btn:hover {
	opacity: 0.8;
}

@media(max-width: 700px) {

	.heading {
		padding: 1rem;
		margin-bottom: 3rem;
	}

	.heading h2 {
		font-size: 1.8rem;
		margin-bottom: 15px;
	}

	.heading p {
		font-size: 16px;
		line-height: 1.5;
	}

	.grid {
		grid-template-columns: 1fr;
	}

	.stat {
		align-items: center;
		text-align: center;
	}

	.stat p {
		font-size: 15px;
	}

	.boost {
		background: url('../images/bg-boost-mobile.svg') no-repeat center center/cover;
		background-color: var(--purple-bg);
	}

	.boost h2 {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}

	.boost-btn {
		padding: 10px 25px;
		font-size: 16px;
	}

}