.footer {
	background-color: var(--dark-color);
	padding: 2rem 1rem;
}

.footer-inner {
	display: grid;
	grid-template-columns: 2fr 3fr 2fr;
	grid-gap: 30px;
	justify-content: center;
}

.links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	color: #fff;
}

.links ul {
	list-style: none;
}

.links ul li {
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 13px;
	cursor: pointer;
}

.links ul li:hover {
	color: var(--accent-color);
}


.links ul li:first-child {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 20px;
	cursor: default;
}

.links ul li:first-child:hover {
	color: #fff;
}

.logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.socials {
	display: flex;
	align-items: flex-start;
}

.socials img {
	margin-right: 20px;
	cursor: pointer;
	padding-bottom: 10px;
}

.socials img:hover {
	border-bottom: 2px solid var(--accent-color);
}

@media(max-width: 700px) {
	.footer-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.logo {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.socials {
		align-items: center;
		justify-content: center;
	}

	.links {
		grid-template-columns: 1fr;
	}
}
