.link-shortener {
	background-color: var(--light-bg);
	padding: 20px;
}

.link-box {
	background: url('../images/bg-shorten-desktop.svg') no-repeat center center/cover;
	background-color: var(--purple-bg);
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 1.5rem;
	border-radius: 10px;
	transform: translateY(-40px);
}

.input-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	width: 80%;
}

.link-box input {
	padding: 10px;
	height: 45px;
	width: 100%;
	font-family: inherit;
	font-size: 17px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin: 0 20px 0 0;
}

.link-box input.err {
	border: 2px solid var( --error-color);
}

.link-box input.err::placeholder {
	color: var(--error-color);
	opacity: 0.7;
}

.error-msg {
	font-size: 13px;
	font-style: italic;
	color: var( --error-color);
	transform:translateY(5px);
}

#shorten-btn {
	background-color: var(--accent-color);
	color: #fff;
	border-radius: 5px;
	height: 45px;
	font-size: 17px;
	width: auto;
}

#shorten-btn:hover {
	opacity: 0.9;
}

#shorten-btn.loading {
	opacity: 0.8;
}

.shortened-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	margin-top: 20px;
}

.shortened-link > div {
	display: flex;
	align-items: center;
}

.shortened-link .short-link {
	color: var(--accent-color);
	margin-right: 10px;
}

.shortened-link .copy-btn {
	background-color: var(--accent-color);
	color: #fff;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-family: inherit;
}

.shortened-link .copy-btn.copying {
	background-color: var(--purple-bg);
}



@media(max-width: 700px) {
	.link-shortener {
		padding: 0 1rem;
	}

	.link-box {
		flex-direction: column;
		background: url('../images/bg-shorten-mobile.svg') no-repeat center center/cover;
		background-color: var(--purple-bg);
	}

	.input-container {
		width: 100%;
	}

	.link-box input {
		width: 100%;
		margin: 0;
	}

	#shorten-btn {
		margin: 1rem 0 0;
		width: 100%;
	}

	.shortened-link {
		flex-direction: column;
		align-items: stretch;
	}

	.shortened-link .link {
		padding-bottom: 10px;
		border-bottom: 1px solid#888;
	}

	.shortened-link > div {
		flex-direction: column;
		align-items: stretch;
		padding-top: 10px;
	}

	.shortened-link .copy-btn {
		width: 100%;
		margin-top: 10px;
	}
}